@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  html {
    font-family: "Poppins", sans-serif;
    background: #121212;
  }
}

@layer components {
  .btnColor {
    @apply bg-gradient-to-r from-[#AC32E4] via-[#7918F2] to-[#4801FF] hover:from-[#4801FF] hover:via-[#AC32E4] hover:to-[#7918F2] transition transform duration-500 ease-in-out  text-white;
  }
}

.card-bg {
  background: radial-gradient(
    145.1% 102.55% at 0% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(38.2676px);
}
